In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('HouseData.csv')
data

       bhk propertytype   location      sqft  pricepersqft  totalprice
0        3         Flat  Ahmedabad   1346.00          6233    15700000
1        4         Flat  Ahmedabad   1872.00          4873    17500000
2        4         Flat  Ahmedabad   1650.00          6733    20200000
3        5         Flat  Ahmedabad  10201.00          8499    86700000
4        3         Flat  Ahmedabad    968.00          5944    10400000
...    ...          ...        ...       ...           ...         ...
14114    2        House   Warangal   1000.00          9459     9000000
14115    2        House   Warangal   1710.00         12849    14000000
14116    2        House   Warangal    800.00          5575     2600000
14117    2        House   Warangal   1591.00          4200    15000000
14118    2        House   Warangal   1281.42             3     7000000

[14119 rows x 6 columns]

In [32]:
data.dtypes

bhk               int64
propertytype     object
location         object
sqft            float64
pricepersqft      int64
totalprice        int64
dtype: object

In [33]:
def convert(value):
    value = str(value)
    if len(value) == 1:
        value = int(value)
        value = value * 1000
        return value
    else:
        return value

In [34]:
data['pricepersqft'] = data['pricepersqft'].apply(convert).astype(int)

In [35]:
data['sqft'] = data['sqft'].astype(int)

In [36]:
data.dtypes

bhk              int64
propertytype    object
location        object
sqft             int64
pricepersqft     int64
totalprice       int64
dtype: object

In [37]:
data.to_csv('HouseDetails.csv',index = False)