In [344]:
import pandas as pd

In [345]:
file_path = "SqrFt.csv"
df = pd.read_csv(file_path)
df.columns

Index(['Unnamed: 0', 'data4'], dtype='object')

In [346]:
df.rename(columns={"Unnamed: 0": "col1","data4":"SqFt"}, inplace=True)
df = df.drop("col1", axis=1)

In [347]:
df

          SqFt
0    3364 sqft
1    4885 sqft
2    4885 sqft
3    4885 sqft
4    1219 sqft
..         ...
295  3000 sqft
296  2344 sqft
297   856 sqft
298   735 sqft
299  1600 sqft

[300 rows x 1 columns]

In [348]:
def sqyrd_to_sqft(value):
    if isinstance(value, str) and "sqyrd" in value.lower():
        num = float(value.lower().replace("sqyrd", "").strip())
        return num * 9 
    elif isinstance(value, str) and "sqft" in value.lower():
        num = float(value.lower().replace("sqft", "").strip())
        return num
    else:
        return 0

    return value

In [349]:
df["SqFt"] = df["SqFt"].apply(sqyrd_to_sqft)

In [350]:
output_path = "SqFt_c.csv"
df.to_csv(output_path, index=False)